@import url(https://fonts.googleapis.com/css?family=Maven+Pro);
body {
  font-family: 'Maven Pro', sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
.banner_container {
  height: 100vh;
}
#banner1 {
  background: url('../imgs/banner1.jpg');
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  position: relative;
}
#banner1 #banner_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}
#banner1 #banner_box #logo {
  height: 500px;
  width: 950px;
}
#banner1 #banner_box .button_container {
  margin-top: -60px;
  display: none;
}
#banner1 #banner_box .button_container a {
  text-decoration: none;
  color: #192d47;
}
#banner1 #banner_box .button_container a .button {
  background: none;
  padding: 15px;
  width: 250px;
  margin: 5px;
  border: 2px solid #192d47;
  font-size: 20px;
  transition: .3s all;
  -webkit-transition: .3s all;
  -moz-transition: .3s all;
}
#banner1 #banner_box .button_container a .button:hover {
  background: #192d47;
  color: #ffffff;
  transition: .3s all;
  -webkit-transition: .3s all;
  -moz-transition: .3s all;
}
@media only screen and (max-width: 835px) {
  #banner1 #banner_box #logo {
    height: 300px;
    width: 550px;
  }
  #banner1 #banner_box .button_container {
    margin-top: -40px;
  }
  #banner1 #banner_box .button_container a .button {
    font-size: 15px;
    width: 200px;
  }
}
@media only screen and (max-width: 560px) {
  #banner1 #banner_box {
    width: 97%;
  }
  #banner1 #banner_box #logo {
    height: 200px;
    width: 350px;
  }
  #banner1 #banner_box .button_container {
    margin-top: -20px;
  }
}
#banner_info1 {
  height: 100%;
  color: #ffffff;
  display: block;
  text-align: center;
  padding: 55px 0;
  overflow: auto;
  background: #192d47;
}
#banner_info1 .container {
  position: relative;
  top: 20%;
}
#banner_info1 .container .row .info_image img {
  height: 120px;
  width: 250px;
}
#banner_info1 .container .row .info p {
  margin: 20px auto;
  width: 80%;
}
#banner_info2 {
  height: 100%;
  color: #ffffff;
  display: block;
  text-align: center;
  padding: 55px 0;
  overflow: auto;
  background: #212B63;
}
#banner_info2 .container {
  position: relative;
  top: 20%;
}
#banner_info2 .container .row .info_image {
  margin: 30px 0 10px 0;
}
#banner_info2 .container .row .info_image img {
  height: 250px;
  width: 250px;
}
#banner_info2 .container .row .info a {
  color: inherit;
}
#banner_info2 .container .row .info p {
  margin: 20px auto;
  width: 80%;
}
#banner_info2 .container .row #blog {
  background: none;
  border: 1px solid #ffffff;
  padding: 10px;
  width: 250px;
  font-size: 20px;
  margin: 10px 5px;
  transition: .5s all;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  margin: 10px 0 10px 0;
}
#banner_info2 .container .row #blog:focus {
  outline: none;
}
#banner_info2 .container .row #blog:hover {
  background: rgba(255, 255, 255, 0.8);
  transition: .5s all;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
}
#banner_info3 {
  height: 100%;
  color: #ffffff;
  display: block;
  text-align: center;
  padding: 55px 0;
  overflow: auto;
  background: #192d47;
}
#banner_info3 .container {
  position: relative;
  top: 20%;
}
#banner_info3 .container .row .info_image {
  padding: 20px;
}
#banner_info3 .container .row .info_image img {
  height: 250px;
  width: 250px;
}
#banner_info3 .container .row .info a {
  color: inherit;
}
#banner_info3 .container .row .info p {
  margin: 20px auto;
  width: 80%;
}
#banner_info3 .container .row #projects {
  background: none;
  border: 1px solid #ffffff;
  padding: 10px;
  width: 250px;
  font-size: 20px;
  margin: 10px 5px;
  transition: .5s all;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  margin: 10px 0 10px 0;
}
#banner_info3 .container .row #projects:focus {
  outline: none;
}
#banner_info3 .container .row #projects:hover {
  background: rgba(255, 255, 255, 0.8);
  transition: .5s all;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
}
#banner_info4 .join_row {
  height: 225px;
  text-align: center;
  cursor: pointer;
}
#banner_info4 .join_row:hover .overlay .o_info h3 {
  opacity: 1;
  transition: .5s all;
}
#banner_info4 .join_row .overlay {
  background: rgba(0, 0, 0, 0.6);
  height: inherit;
  width: inherit;
  color: white;
}
#banner_info4 .join_row .overlay .o_info {
  position: relative;
  top: 30%;
}
#banner_info4 .join_row .overlay .o_info h1 {
  margin: 0;
  font-size: 50px;
}
#banner_info4 .join_row .overlay .o_info h3 {
  opacity: 0;
  margin: 10px;
  padding: 10px;
}
#banner_info4 #articles {
  background: url('../imgs/articles.jpg');
  background-size: cover;
}
#banner_info4 #projects {
  background: url('../imgs/projects.jpeg');
  background-size: cover;
}
#banner_info4 #donate {
  background: url('../imgs/donate.jpg');
  background-size: cover;
}
@media only screen and (max-width: 550px) {
  .banner_info .container .row .info_image img {
    height: 150px;
    width: 150px;
  }
  .banner_info .container .row .info p {
    font-size: 18px;
  }
}
.contact {
  padding: 10px 5px;
  background: black;
  color: white;
  overflow: auto;
}
.contact .container .row #contact_info {
  float: left;
  text-transform: uppercase;
}
.contact .container .row #contact_info h3,
.contact .container .row #contact_info h5 {
  padding: 0;
  margin: 0;
}
.contact .container .row #social_media #s_container {
  float: right;
  margin-top: -15px;
  text-align: center;
}
@media only screen and (max-width: 515px) {
  .contact .container .row #contact_info {
    float: none;
  }
  .contact .container .row #contact_info h3 {
    font-size: 15px;
  }
  .contact .container .row #contact_info h5 {
    font-size: 12px;
  }
  .contact .container .row #social_media {
    display: none;
  }
}
