<!-- HOMEVIEW PAGE !-->

<!-- BANNER 1 !--> 

<div class = "banner_container" id = "banner1">
	<div class = "herogroup">
		<h1 class = "first">THE BLUM CENTER</h1>
		<h2 class = "second">AT</h2>
		<h3 class = "third">THE UNIVERSITY OF CALIFORNIA, MERCED</h3>
		<div class = "fourth button_container">
			<a href = "#learn" class = "link_button"><button class = "button learnmore">LEARN MORE</button></a>
			<a href = "#" class = "link_button"><button class = "button" id = "join">JOIN OUR TEAM</button></a>
		</div>
	</div>
	</div>
</div>

<!-- NAV BAR 

<nav class = "navbar navbar-inverse">
	<div id = "logo">
		<h4><strong>BLUM CENTER</strong></h4>
	</div>
	<ul id = "tabs">
		<li>Home</li>
		<li>Blog</li>
		<li>Projects</li>
		<li>Join/Donate</li>
	</ul>
</nav>

!-->

<!-- INFO BANNER1 !-->
<a id = "learn"></a>
<div class = "banner_info" id = "banner_info1">
	<div class = "container">
		<div class = "row">
			<div class = "col-md-6 info_image">
				<img src = "imgs/icons/school.png">
			</div>
			<div class = "col-md-6 info">
				<h1>A 10 CAMPUS MISSION</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in scelerisque risus. Donec eu tellus et massa finibus sollicitudin at at est. Phasellus quam tortor, venenatis ut orci ac, condimentum egestas nibh. Integer venenatis arcu ac mi ornare dictum sit amet quis massa. Morbi metus erat, faucibus non scelerisque eu, tincidunt vel ex. Integer nisl elit, consequat a velit et, suscipit congue ex.</p>
			</div>
		</div>
	</div>
</div>

<!-- INFO BANNER2 !-->
<div class = "banner_info" id = "banner_info2">
	<div class = "container">
		<div class = "row">
			<div class = "col-md-6 info">
				<h1>COMMUNITY ENGAGED</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in scelerisque risus. Donec eu tellus et massa finibus sollicitudin at at est. Phasellus quam tortor, venenatis ut orci ac, condimentum egestas nibh. Integer venenatis arcu ac mi ornare dictum sit amet quis massa. Morbi metus erat, faucibus non scelerisque eu, tincidunt vel ex. Integer nisl elit, consequat a velit et, suscipit congue ex.</p>
			</div>
			<div class = "col-md-6 info_image">
				<img src = "imgs/icons/world.png">
			</div>
		</div>
	</div>
</div>

<!-- INFO BANNER3 !-->
<div class = "banner_info" id = "banner_info3">
	<div class = "container">
		<div class = "row">
			<div class = "col-md-6 info_image">
				<img src = "imgs/icons/bookbag.png">
			</div>
			<div class = "col-md-6 info">
				<h1>STUDENT SUCCESS DRIVEN</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in scelerisque risus. Donec eu tellus et massa finibus sollicitudin at at est. Phasellus quam tortor, venenatis ut orci ac, condimentum egestas nibh. Integer venenatis arcu ac mi ornare dictum sit amet quis massa. Morbi metus erat, faucibus non scelerisque eu, tincidunt vel ex. Integer nisl elit, consequat a velit et, suscipit congue ex.</p>
 			</div>
		</div>
	</div>
</div>

<!-- INFO BANNER4 !-->
<div class = "banner_info" id = "banner_info4">
	<div class = "container">
		<div id = "involve">
			<h1> JOIN THE CONVERSATION </h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in scelerisque risus. Donec eu tellus et massa finibus sollicitudin at at est. Phasellus quam tortor, venenatis ut orci ac, condimentum egestas nibh. Integer venenatis arcu ac mi ornare dictum sit amet quis massa.</p>
		</div>
		<div class = "icon_container">
			<img src = "imgs/icons/discourse.png" id = "discourse">
			<img src = "imgs/icons/slack.png" id = "slack">
		</div>
	</div>
</div>

<!-- FOOTER !-->
<footer class = "contact">
	<div class = "container">
		<div class = "row">
			<div class = "col-sm-6" id = "contact_info">
				<h3>BLUM CENTER</h4>
				<h5>University of California, Merced</h5>
				<h5>5200 North Lake Rd.</h5>
				<h5>Merced, CA 95343</h5>
				<h5>209.228.4000 | bluminfo@ucmerced.edu</h5>
			</div>
			<div class = "col-sm-6" id = "social_media">
				<div id = "s_container">
					<h3>FIND US ON</h3>
					<img src = "imgs/icons/facebook.png">
					<img src = "imgs/icons/instagram.png">
					<img src = "imgs/icons/twitter.png">
				</div>
			</div>
		</div>
	</div>
</footer>

<!-- SCRIPTS !-->
	<script type="text/javascript" src = "./js/function.js"></script>
