<!-- HOMEVIEW PAGE !-->

<!-- BANNER 1 !--> 

<div class = "banner_container" id = "banner1">
	<div id = "banner_box">
		<img src = 'imgs/blum_logo.png' id = 'logo' class = 'first'>
		<div class = "third button_container">
			<a href = "#learn" class = "link_button"><button class = "button learnmore">LEARN MORE</button></a>
			<a href = "#join" class = "link_button"><button class = "button join">GET INVOLVED</button></a>
		</div>
	</div>
</div>

<!-- NAV BAR 

<nav class = "navbar navbar-inverse">
	<div id = "logo">
		<h4><strong>BLUM CENTER</strong></h4>
	</div>
	<ul id = "tabs">
		<li>Home</li>
		<li>Blog</li>
		<li>Projects</li>
		<li>Join/Donate</li>
	</ul>
</nav>

!-->

<!-- INFO BANNER1 !-->
<a id = "learn"></a>
<div class = "banner_info" id = "banner_info1">
	<div class = "container">
		<div class = "row">
			<div class = "col-md-6 info_image">
				<img src = "imgs/icons/group.png">
			</div>
			<div class = "col-md-6 info">
				<h1>A 10 CAMPUS MISSION</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in scelerisque risus. Donec eu tellus et massa finibus sollicitudin at at est. Phasellus quam tortor, venenatis ut orci ac, condimentum egestas nibh. Integer venenatis arcu ac mi ornare dictum sit amet quis massa. Morbi metus erat, faucibus non scelerisque eu, tincidunt vel ex. Integer nisl elit, consequat a velit et, suscipit congue ex.</p>
			</div>
		</div>
	</div>
</div>

<!-- INFO BANNER2 !-->
<div class = "banner_info" id = "banner_info2">
	<div class = "container">
		<div class = "row">
			<div class = "col-md-6 info">
				<h1>COMMUNITY ENGAGED</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in scelerisque risus. Donec eu tellus et massa finibus sollicitudin at at est. Phasellus quam tortor, venenatis ut orci ac, condimentum egestas nibh. Integer venenatis arcu ac mi ornare dictum sit amet quis massa. Morbi metus erat, faucibus non scelerisque eu, tincidunt vel ex. Integer nisl elit, consequat a velit et, suscipit congue ex.</p>
			</div>
			<div class = "col-md-6 info_image">
				<img src = "imgs/icons/globe.png">
			</div>
		</div>
	</div>
</div>

<!-- INFO BANNER3 !-->
<div class = "banner_info" id = "banner_info3">
	<div class = "container">
		<div class = "row">
			<div class = "col-md-6 info_image">
				<img src = "imgs/icons/bag.png">
			</div>
			<div class = "col-md-6 info">
				<h1>STUDENT SUCCESS DRIVEN</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in scelerisque risus. Donec eu tellus et massa finibus sollicitudin at at est. Phasellus quam tortor, venenatis ut orci ac, condimentum egestas nibh. Integer venenatis arcu ac mi ornare dictum sit amet quis massa. Morbi metus erat, faucibus non scelerisque eu, tincidunt vel ex. Integer nisl elit, consequat a velit et, suscipit congue ex.</p>
 			</div>
		</div>
	</div>
</div>

<!-- INFO BANNER4 !-->
<a id = "join"></a>
<div class = "banner_info" id = "banner_info4">
	<div class = "join_row" id = "articles">
		<div class = "overlay">
			<div class = "o_info">
				<h1>Articles</h1>
				<h3>A collection of facts and figures to clarify and educate</h3>
			</div>
		</div>
	</div>
	<div class = "join_row" id = "projects">
		<div class = "overlay">
			<div class = "o_info">
				<h1>Projects</h1>
				<h3>See what our teams have designed</h3>
			</div>
		</div>
	</div>
	<div class = "join_row" id = "donate">
		<div class = "overlay">
			<div class = "o_info">
				<h1>Donate</h1>
				<h3>Support us as we continue to empower the Central Valley</h3>
			</div>
		</div>
	</div>
</div>

<!-- FOOTER !-->
<footer class = "contact">
	<div class = "container">
		<div class = "row">
			<div class = "col-sm-6" id = "contact_info">
				<h3>BLUM CENTER</h4>
				<h5>University of California, Merced</h5>
				<h5>5200 North Lake Rd.</h5>
				<h5>Merced, CA 95343</h5>
				<h5>209.228.4000 | bluminfo@ucmerced.edu</h5>
			</div>
			<div class = "col-sm-6" id = "social_media">
				<div id = "s_container">
					<h3>FIND US ON</h3>
					<a href = "https://www.facebook.com/blum.merced/?fref=ts"><img src = "imgs/icons/facebook.png"></a>
					<a href = "https://www.instagram.com/blum.merced/"><img src = "imgs/icons/instagram.png"></a>
					<a href = "https://twitter.com/blum_ucmerced"><img src = "imgs/icons/twitter.png">
				</div>
			</div>
		</div>
	</div>
</footer>

<!-- SCRIPTS !-->
	<script type="text/javascript" src = "./js/function.js"></script>

