// DEFAULT STYLINGS
@import url(https://fonts.googleapis.com/css?family=Maven+Pro);
@darkblue: #192d47;
@lightblue: #212B63;

@white: #ffffff;

body{
	font-family: 'Maven Pro', sans-serif;
}

*{
	margin: 0;
	padding: 0;
}

//MIXINS
.button(){
	background: none;
	border: 1px solid @white;
	padding: 10px;
	width: 250px;
	font-size: 20px;
	margin: 10px 5px;
	.transition;
	&:focus{
		outline: none;
	}
	&:hover{
		background: rgba(255,255,255,0.8);
		.transition;
	}
}

.info(){
	margin: 20px auto;
	width: 80%;
}

.midline(){
	position: relative;
	top: 15%;
}

.midway(){
	position: relative;
	top: 20%;
}

.transition(){
	transition: .5s all;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
}

.banner_info(){
	height: 100%;
	color: @white;
	display: block;
	text-align: center;
	padding: 55px 0;
	overflow: auto;
}

//BANNER 1 STYLINGS
.banner_container{
	height: 100vh;
}

#banner1{
	background: url('../imgs/banner1.jpg');
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	position: relative;
	#banner_box{
		//border: 2px solid black;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		-webkit-transform: translate(-50%,-50%);
		-moz-transform: translate(-50%,-50%);
		#logo{
			//border: 2px solid black;
			height: 500px;
			width: 950px;
		}
		.button_container{
			margin-top: -60px;
			//border: 2px solid black;
			display: none;
			a{
				text-decoration: none;
				color: @darkblue;
				.button{
					background: none;
					padding: 15px;
					width: 250px;
					margin: 5px;
					border: 2px solid @darkblue;
					font-size: 20px;
					transition: .3s all;
					-webkit-transition: .3s all;
					-moz-transition: .3s all;
					&:hover{
						background: @darkblue;
						color: @white;
						transition: .3s all;
						-webkit-transition: .3s all;
						-moz-transition: .3s all;
					}
				}
			}
		}
	}
}

//BANNER 1 MEDIA BREAK

@media only screen and (max-width: 835px){
	#banner1{
		#banner_box{
			#logo{
				height: 300px;
				width: 550px;
			}
			.button_container{
				margin-top: -40px;
				a{
					.button{
						font-size: 15px;
						width: 200px;

					}
				}
			}
		}
	}
}

@media only screen and (max-width: 560px){
	#banner1{
		#banner_box{
			width: 97%;
			#logo{
				height: 200px;
				width: 350px;
			}
			.button_container{
				margin-top: -20px;
			}
		}
	}
}


//BANNER INFO1 STYLINGS
#banner_info1{
	.banner_info;
	background: @darkblue;
	.container{
		.midway;
		.row{
			.info_image{
				img{
					//IMAGE ICON DIMENSIONS
					height: 120px;
					width: 250px;
				}
			}
			.info{
				p{
					//border: 2px solid @white; //dev only
					.info;
				}
			}
		}
	}
}

//BANNER INFO2 STYLINGS 

#banner_info2{
	.banner_info;
	background: @lightblue;
	.container{
		.midway;
		.row{
			.info_image{
				//border: 2px solid @white; //dev
				margin: 30px 0 10px 0;
				//IMAGE ICON DIMENSIONS
				img{
					height: 250px;
					width: 250px;
				}
			}
			.info{
				a{
					color: inherit;
				}
				p{
					.info;
				}
			}
			#blog{
				.button;
				margin: 10px 0 10px 0;
			}
		}
	}
}

//BANNER INFO3 STYLINGS

#banner_info3{
	.banner_info;
	background: @darkblue;
	.container{
		.midway;
		.row{
			.info_image{
				padding: 20px;
				//border: 2px solid white;
				img{
					//IMAGE ICON DIMENSIONS
					height: 250px;
					width: 250px;
				}
			}
			.info{
				a{
					color: inherit;
				}
				p{
					.info;
				}
			}
			#projects{
				.button;
				margin: 10px 0 10px 0;
			}
		}
	}
}

//BANNER INFO4 STYLINGS
#banner_info4{
	.join_row{
		height: 225px;
		text-align: center;
		cursor: pointer;
		&:hover{
			.overlay{
				.o_info{
					h3{
						opacity: 1;
						transition: .5s all;
					}
				}
			}
		}
		.overlay{
			background: rgba(0,0,0,0.6);
			height: inherit;
			width: inherit;
			color: white;
			.o_info{
				//border: 2px solid white;
				position: relative;
				top: 30%;
				h1{
					margin: 0;
					font-size: 50px;
				}
				h3{
					opacity: 0;
					margin: 10px;
					padding: 10px;
				}
			}
		}
	}
	#articles{
		background: url('../imgs/articles.jpg');
		background-size: cover;
	}
	#projects{
		background: url('../imgs/projects.jpeg');
		background-size: cover;
	}
	#donate{
		background: url('../imgs/donate.jpg');
		background-size: cover;
	}
}

//BANNER INFO MEDIA BREAK
@media only screen and (max-width: 550px){
	.banner_info{
		.container{
			.row{
				.info_image{
					img{
						height: 150px;
						width: 150px;
					}
				}
				.info{
					p{
						//border: 2px solid @white; //dev
						font-size: 18px;
					}
				}
			}
		}
	}
}

//FOOTER STYLINGS 
.contact{
	padding: 10px 5px;
	background: black;
	color: white;
	overflow: auto;
	.container{
		.row{
			#contact_info{
				float: left;
				text-transform: uppercase;
				h3, h5{
					padding: 0;
					margin: 0;
				}
			}
			#social_media{
				#s_container{
					float: right;
					margin-top: -15px;
					text-align: center;
				}
			}
		}
	}
}

//FOOTER MEDIA BREAk
@media only screen and (max-width: 515px){
	.contact{
		.container{
			.row{
				#contact_info{
					float: none;
					h3{
						font-size: 15px;
					}
					h5{
						font-size: 12px;
					}
				}
				#social_media{
					display: none;
				}
			}
		}
	}
}

